<script type="text/template" id="usuarioList2">
    <% alert('usuarioList'); %>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Contrasena</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(usuarios, function(usuario) { %>
    <tr>
		<td><%= htmlEncode(usuario.getDisplay('name')) %></td>
		<td><%= htmlEncode(usuario.getDisplay('contrasena')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-edit',{id:<%= usuario.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-delete',{id:<%= usuario.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="usuario">
    <% alert('usuario'); %>
    <div class="form-group">
    <form role="form" id="<%= componentId %>-usuarioForm">
    <% if(usuario.id) {%>
    <input type="hidden" name="id" value="<%= usuario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= usuario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="contrasena">Contrasena</label>
    	<input type="text" class="form-control" id="contrasena" name="contrasena" placeholder="Enter value" value="<%= usuario.get('contrasena') %>"/>	
		</div>
    </form>
    </div>
</script> 

<!-- Template Login -->
<script type="text/template" id="usuarioList">
        <% console.log('logIn id:'+componentId); %>
     
     <div style="width :429px; margin: 0px auto;">

        <div>
            <img src= "img/TuMeOpPrincipal.jpg" width="429px"/>
        </div>
        <table>
            <tr>       
                <td>
                    <button id="<%= componentId %>-loginFacebook" class="btn btn-large btn-primary" 
                        onclick="Backbone.trigger('<%= componentId %>-loginFacebook',{});console.log('console log:');console.log('<%= componentId %>'); return false" 
                        type="button" class="btn btn-info">

                    Ingresa con Facebook
                    </button>
                </td>
                <td>
                </td>
            </tr>
        </table> 
        
    </div>
</script>
<script type="text/template" id="registrarse">
        <% console.log('logIn id:'+componentId); %>
     
     <div class="container">

      <form class="form-signin" role="form" id="<%= componentId %>-FormRegistrarse">
        <h2 class="form-signin-heading">Por favor ingrese sus datos</h2>
        <label>Nombre: </label>
        <input id ="name" name ="name" type="text" class="input-block-level" placeholder="Nombre">
        <label>Correo electronico: </label>
        <input id ="email" name ="email" type="text" class="input-block-level" placeholder="Email address">
        <label>Contrasena: </label>
        <input id ="contrasena" name ="contrasena" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="aceptar-condiciones"> Aceptas los terminos y condiciones? 
        </label>
        <button id="<%= componentId %>-registrarseButton" class="btn btn-large btn-primary" 
            onclick="Backbone.trigger('<%= componentId %>-registrarse',{}); return false" 
            type="submit" class="btn btn-info">
                        
        Registrarse
        </button>
        
      </form>

    </div>
    
</script>

<script type="text/template" id="principal">
    
    
    
    
</script>

<script type="text/template" id="amigos">
    <div class="personal" style="height:45px;">Amigos</div>
    <div>
        <div class="titulosTablas" style="width: 48%">
            Nombre
        </div>
        <div class="titulosTablas" style="width: 48%">
            Correo
        </div>
    </div>
    <div style ="overflow:scroll; height:300px; clear:both">
        <% _.each(amigos, function(amigo) { %>
        <div class="TableButton" style = "clear:both; height:50px;" onclick="Backbone.trigger('<%= componentId %>-verAmigo',{id:<%= amigo.getDisplay('facebookId')%>, name:'<%= amigo.getDisplay('name')%>'})">
            <div class="contenidoTablas" style="width: 48%">
                <%= htmlEncode(amigo.getDisplay('name')) %>
            </div>
            <div class="contenidoTablas" style="width: 48%">
                <%= htmlEncode(amigo.getDisplay('email')) %>
            </div>
        </div>
        <div class="TableButton" style = "clear:both; height:50px;" onclick="Backbone.trigger('<%= componentId %>-verAmigo',{id:<%= amigo.getDisplay('facebookId')%>, name:'<%= amigo.getDisplay('name')%>'})">
            <div class="contenidoTablas" style="width: 48%">
                <%= htmlEncode(amigo.getDisplay('name')) %>
            </div>
            <div class="contenidoTablas" style="width: 48%">
                <%= htmlEncode(amigo.getDisplay('email')) %>
            </div>
        </div>
        <% }); %>
    </div>

            
    
</script>

<script type="text/template" id="importarAmigos">

   
                <button id="<%= componentId %>-importarFacebook" class="btn btn-medium btn-primary" 
                onclick="Backbone.trigger('<%= componentId %>-importarFacebook',{}); return false" 
                type="button" class="btn btn-primary">

                Importar Amigos Facebook
                </button>
            
    
</script>
<script type="text/template" id="bonoList">
    
   
                      
    <div class="CSSTableGenerator">
    <!-- Default panel contents -->
    <table>
    <tr>
		 <td>Fecha</td>
		 <td>Amigo</td>
		 <td>Tienda</td>
                 <td>Valor</td>
                 <td>Estado</td>
    </tr>
    <% _.each(bonos, function(bono) { %>
    <tr>
		<td><%= htmlEncode(bono.getDisplay('fecha')) %></td>
                <td><%= htmlEncode(bono.getDisplay('usuariobnId')) %></td>
		<td><%= htmlEncode(bono.getDisplay('tiendafId')) %></td>
		<td><%= htmlEncode(bono.getDisplay('valor')) %></td>  
                <td><%= htmlEncode(bono.getDisplay('estado')) %></td>  
    </tr>
    <% }); %>
    </table>
    </div>  
    
    
    
        </div>

      <hr>

      

    </div><!--/.fluid-container-->
    
</script>

<script type="text/template" id="likesList">
    <div class="personal">Amigos: <%= htmlEncode(amigoSelec.name) %> </div>
    <div>
                <!-- Default panel contents -->
                <table class="table striped">
                <thead>
                <tr>
                            <th>Nombre</th>
                            <th>Id</th>
                            <th>Valor</th>
                            <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(amigos, function(amigo) { %>
                <% if(amigo.getDisplay('name')==='Separador') {%>
                <tr><td colspan="4" style="background-color:white;color:black;">Todas las tiendas</td></tr> 
                <% } else { %> 
                <tr>
                    
                    
                    <td><%= htmlEncode(amigo.getDisplay('name')) %></td>
                    <td><%= htmlEncode(amigo.getDisplay('facebookId')) %></td>
                    
                    
                    <td>
                        <div class="form-group"> 
                        <form role="form" id="<%= componentId %>-bonoForm"> 
                            <input type="hidden" name="tienda_bonoId" value="<%= htmlEncode(amigo.getDisplay('facebookId')) %>"/> 
                            <select class="form-control" id="valor" name="valor">
                                <option value="20000">$20.000</option>
                                <option value="50000">$50.000</option>
                                <option value="100000">$100.000</option>
                                <option value="150000">$150.000</option>
                            </select>
                        </form>
                        </div>
                    </td>
                    <td>
                        <button id="<%= componentId %>-verAmigo" class="btn btn-large btn-success" onclick="Backbone.trigger('<%= componentId %>-agregarBono',{usuaFacebookId:<%=usuarioActual.getDisplay('facebookId')%>, tFb:<%=amigo.getDisplay('facebookId')%>}); return false" type="button" class="btn btn-success"> 
                            Comprar Bono
                        </button>
                    </td>
                    
                </tr><% }%>
                <% }); %>
                </tbody>
                </table>
            </div>
        
        

    
    
    
</script>
