<script type="text/template" id="usuarioList2">
    <% alert('usuarioList'); %>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Contrasena</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(usuarios, function(usuario) { %>
    <tr>
		<td><%= htmlEncode(usuario.getDisplay('name')) %></td>
		<td><%= htmlEncode(usuario.getDisplay('contrasena')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-edit',{id:<%= usuario.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-delete',{id:<%= usuario.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="usuario">
    <% alert('usuario'); %>
    <div class="form-group">
    <form role="form" id="<%= componentId %>-usuarioForm">
    <% if(usuario.id) {%>
    <input type="hidden" name="id" value="<%= usuario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= usuario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="contrasena">Contrasena</label>
    	<input type="text" class="form-control" id="contrasena" name="contrasena" placeholder="Enter value" value="<%= usuario.get('contrasena') %>"/>	
		</div>
    </form>
    </div>
</script> 

<!-- Template Login -->
<script type="text/template" id="usuarioList">
        <% console.log('logIn id:'+componentId); %>
     
     <div class="container">

       <div class="span2">
       <div>
       <div class="span3">
       <button id="<%= componentId %>-loginFacebook" class="btn btn-large btn-primary" 
            onclick="Backbone.trigger('<%= componentId %>-loginFacebook',{}); return false" 
            type="button" class="btn btn-info">
                        
        Ingresa con Facebook
        </button>
       <div>
       <div class="span2">
       <div>
       <div class="span3">
       <button id="<%= componentId %>-loginGoogle" class="btn btn-large btn-danger" 
            onclick="Backbone.trigger('<%= componentId %>-loginGoogle',{}); return false" 
            type="button" class="btn btn-info">
                        
        Ingresa con Google+
        </button>
       <div>
       <div class="span2">
       <div>
     

    </div>
    
</script>
<script type="text/template" id="registrarse">
        <% console.log('logIn id:'+componentId); %>
     
     <div class="container">

      <form class="form-signin" role="form" id="<%= componentId %>-FormRegistrarse">
        <h2 class="form-signin-heading">Por favor ingrese sus datos</h2>
        <label>Nombre: </label>
        <input id ="name" name ="name" type="text" class="input-block-level" placeholder="Nombre">
        <label>Correo electronico: </label>
        <input id ="email" name ="email" type="text" class="input-block-level" placeholder="Email address">
        <label>Contrasena: </label>
        <input id ="contrasena" name ="contrasena" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="aceptar-condiciones"> Aceptas los terminos y condiciones? 
        </label>
        <button id="<%= componentId %>-registrarseButton" class="btn btn-large btn-primary" 
            onclick="Backbone.trigger('<%= componentId %>-registrarse',{}); return false" 
            type="submit" class="btn btn-info">
                        
        Registrarse
        </button>
        
      </form>

    </div>
    
</script>

<script type="text/template" id="principal">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        

      <hr>

      

    </div><!--/.fluid-container-->
    
</script>

<script type="text/template" id="amigos">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <table class="table striped">
                <thead>
                <tr>
                             <th>Name</th>
                             <th>Email</th>
                            <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(amigos, function(amigo) { %>
                <tr>
                            <td><%= htmlEncode(amigo.getDisplay('name')) %></td>
                            <td><%= htmlEncode(amigo.getDisplay('email')) %></td>
                <td>
                
                
                 <button id="<%= componentId %>-verAmigo" class="btn btn-large btn-success" 
                    onclick="Backbone.trigger('<%= componentId %>-verAmigo',{id:<%= amigo.id %>}); return false"
                     
                    type="button" class="btn btn-success">
                        Ver
                 </button>
                </td>
                </tr>
                <% }); %>
                </tbody>
                </table>
            </div>
        
        </div>

      <hr>

      
    </div><!--/.fluid-container-->
    
</script>

<script type="text/template" id="importarAmigos">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li  
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li class="active"  
                    onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class"span9">
            
            <div class="span4"></div>
            <div class="span4">
                <button id="<%= componentId %>-importarFacebook" class="btn btn-medium btn-primary" 
                onclick="Backbone.trigger('<%= componentId %>-importarFacebook',{}); return false" 
                type="button" class="btn btn-primary">

                Importar Amigos Facebook
                </button>
            <div>
            <div class="span4"></div>
        </div>

      <hr>

      

    </div><!--/.fluid-container-->
    
</script>