<script type="text/template" id="usuarioList2">
    <% alert('usuarioList'); %>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Contrasena</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(usuarios, function(usuario) { %>
    <tr>
		<td><%= htmlEncode(usuario.getDisplay('name')) %></td>
		<td><%= htmlEncode(usuario.getDisplay('contrasena')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-edit',{id:<%= usuario.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-usuario-delete',{id:<%= usuario.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="usuario">
    <% alert('usuario'); %>
    <div class="form-group">
    <form role="form" id="<%= componentId %>-usuarioForm">
    <% if(usuario.id) {%>
    <input type="hidden" name="id" value="<%= usuario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= usuario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="contrasena">Contrasena</label>
    	<input type="text" class="form-control" id="contrasena" name="contrasena" placeholder="Enter value" value="<%= usuario.get('contrasena') %>"/>	
		</div>
    </form>
    </div>
</script> 

<!-- Template Login -->
<script type="text/template" id="usuarioList">
        <% console.log('logIn id:'+componentId); %>
     
     <div class="container">

        <table>
        
            <tr>        
                <td></td>
                <td>
                    <button id="<%= componentId %>-loginFacebook" class="btn btn-large btn-primary" 
                        onclick="Backbone.trigger('<%= componentId %>-loginFacebook',{}); return false" 
                        type="button" class="btn btn-info">

                    Ingresa con Facebook
                    </button>
                </td>
                <td></td>
                <td>
                    <button id="<%= componentId %>-loginGoogle" class="btn btn-large btn-danger" 
                        onclick="Backbone.trigger('<%= componentId %>-loginGoogle',{}); return false" 
                        type="button" class="btn btn-info">

                    Ingresa con Google+
                    </button>
                </td>
                <td></td>
            </tr>
        </table>
     

    </div>
    
</script>
<script type="text/template" id="registrarse">
        <% console.log('logIn id:'+componentId); %>
     
     <div class="container">

      <form class="form-signin" role="form" id="<%= componentId %>-FormRegistrarse">
        <h2 class="form-signin-heading">Por favor ingrese sus datos</h2>
        <label>Nombre: </label>
        <input id ="name" name ="name" type="text" class="input-block-level" placeholder="Nombre">
        <label>Correo electronico: </label>
        <input id ="email" name ="email" type="text" class="input-block-level" placeholder="Email address">
        <label>Contrasena: </label>
        <input id ="contrasena" name ="contrasena" type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="aceptar-condiciones"> Aceptas los terminos y condiciones? 
        </label>
        <button id="<%= componentId %>-registrarseButton" class="btn btn-large btn-primary" 
            onclick="Backbone.trigger('<%= componentId %>-registrarse',{}); return false" 
            type="submit" class="btn btn-info">
                        
        Registrarse
        </button>
        
      </form>

    </div>
    
</script>

<script type="text/template" id="principal">
    
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-verHistorialBonos',{}); return false">
                   <a> Historial de Bonos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        

      <hr>

      

    </div><!--/.fluid-container-->
    
</script>

<script type="text/template" id="amigos">

    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-verHistorialBonos',{}); return false">
                   <a> Historial de Bonos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <table class="table striped">
                <thead>
                <tr>
                             <th>Name</th>
                             <th>Email</th>
                            <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(amigos, function(amigo) { %>
                <tr>
                            <td><%= htmlEncode(amigo.getDisplay('name')) %></td>
                            <td><%= htmlEncode(amigo.getDisplay('email')) %></td>
                <td>
                
                
                 <button id="<%= componentId %>-verAmigo" class="btn btn-large btn-success"              
                        onclick="Backbone.trigger('<%= componentId %>-verAmigo',{id:<%= amigo.getDisplay('facebookId')%>})"
                        
                    type="button" class="btn btn-success">
                        Ver
                 </button>
                </td>
                </tr>
                <% }); %>
                </tbody>
                </table>
            </div>
        
        </div>

      <hr>

      
    </div><!--/.fluid-container-->
    
</script>

<script type="text/template" id="importarAmigos">

    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-verHistorialBonos',{}); return false">
                   <a> Historial de Bonos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class"span9">
            
            <div class="span4"></div>
            <div class="span4">
                <button id="<%= componentId %>-importarFacebook" class="btn btn-medium btn-primary" 
                onclick="Backbone.trigger('<%= componentId %>-importarFacebook',{}); return false" 
                type="button" class="btn btn-primary">

                Importar Amigos Facebook
                </button>
            <div>
            <div class="span4"></div>
        </div>

      <hr>

      

    </div><!--/.fluid-container-->
    
</script>
<script type="text/template" id="bonoList">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-verHistorialBonos',{}); return false">
                   <a> Historial de Bonos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class"span9">
                      
    <div class="CSSTableGenerator">
    <!-- Default panel contents -->
    <table>
    <tr>
		 <td>Fecha</td>
		 <td>Amigo</td>
		 <td>Tienda</td>
                 <td>Valor</td>
    </tr>
    <% _.each(bonos, function(bono) { %>
    <tr>
		<td><%= htmlEncode(bono.getDisplay('fecha')) %></td>
                <td><%= htmlEncode(bono.getDisplay('usuariobnId')) %></td>
		<td><%= htmlEncode(bono.getDisplay('tiendafId')) %></td>
		<td><%= htmlEncode(bono.getDisplay('valor')) %></td>   
    </tr>
    <% }); %>
    </table>
    </div>  
    
    
    
        </div>

      <hr>

      

    </div><!--/.fluid-container-->
    
    
    
</script>

<script type="text/template" id="likesList">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Tu Mejor Opcion</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
     </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active" 
                onclick="Backbone.trigger('<%= componentId %>-verAmigos',{}); return false">
                <a> Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-importarAmigos',{}); return false">
                   <a> Importar Amigos </a>
              </li>
              <li  onclick="Backbone.trigger('<%= componentId %>-verHistorialBonos',{}); return false">
                   <a> Historial de Bonos </a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <table class="table striped">
                <thead>
                <tr>
                            <th>Nombre</th>
                            <th>Id</th>
                            <th>Valor</th>
                            <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(amigos, function(amigo) { %>
                <tr>
                    
                    
                    <td><%= htmlEncode(amigo.getDisplay('name')) %></td>
                    <td><%= htmlEncode(amigo.getDisplay('facebookId')) %></td>
                    
                    
                    <td>
                        <div class="form-group"> 
                        <form role="form" id="<%= componentId %>-bonoForm"> 
                            <input type="hidden" name="tienda_bonoId" value="<%= htmlEncode(amigo.getDisplay('facebookId')) %>"/> 
                            <select class="form-control" id="valor" name="valor">
                                <option value="20000">$20.000</option>
                                <option value="50000">$50.000</option>
                                <option value="100000">$100.000</option>
                                <option value="150000">$150.000</option>
                            </select>
                        </form>
                        </div>
                    </td>
                    <td>
                        <button id="<%= componentId %>-verAmigo" class="btn btn-large btn-success" onclick="Backbone.trigger('<%= componentId %>-agregarBono',{usuaFacebookId:<%=usuarioActual.getDisplay('facebookId')%>, tFb:<%=amigo.getDisplay('facebookId')%>}); return false" type="button" class="btn btn-success"> 
                            Comprar Bono
                        </button>
                    </td>
                    
                </tr>
                <% }); %>
                </tbody>
                </table>
            </div>
        
        </div>

      <hr>

      
    </div><!--/.fluid-container-->
    
    
    
</script>